USE [master]
GO
/****** Object:  Database [ELibrary]    Script Date: 12/7/2022 7:22:17 PM ******/
CREATE DATABASE [ELibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ELibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ELibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELibrary]
GO
/****** Object:  User [VOTHANA-CHY\Vothana CHY]    Script Date: 12/7/2022 7:22:17 PM ******/
CREATE USER [VOTHANA-CHY\Vothana CHY] FOR LOGIN [VOTHANA-CHY\Vothana CHY] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 12/7/2022 7:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](100) NULL,
	[DESC] [nvarchar](200) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[YEAR] [int] NULL,
	[LANGAUGE] [varchar](10) NULL,
	[IMAGE] [nvarchar](200) NULL,
	[PDF] [nvarchar](200) NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOANLIST]    Script Date: 12/7/2022 7:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOANLIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKID] [int] NULL,
	[STUDENTID] [int] NULL,
	[DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 12/7/2022 7:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[GENDER] [varchar](8) NULL,
	[DOB] [date] NULL,
	[PHONE] [varchar](20) NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[DEPARTMENT] [nvarchar](100) NULL,
	[SHCOOL] [nvarchar](150) NULL,
	[IMAGE] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOANLIST]  WITH CHECK ADD FOREIGN KEY([BOOKID])
REFERENCES [dbo].[BOOK] ([ID])
GO
ALTER TABLE [dbo].[LOANLIST]  WITH CHECK ADD FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENT] ([ID])
GO
USE [master]
GO
